@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  --primary-color: #86c5da;
  --font-stack: 'Source Sans Pro', sans-serif;
}

:focus {
  outline: none;
}

body {
  margin: 0;
}

.page {
  background-color: #282c34;
  font-family: var(--font-stack);
  min-height: 100vh;
}

.nav-bar {
  background-color: var(--primary-color);
  max-width: 20vw;
  width: 250px;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  min-height: 60vh;
  max-width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

form p {
  color: var(--primary-color);
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 10px;
}

.input-field {
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-primary {
  cursor: pointer;
  height: 44px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-color: white;
  background-color: #282c34;
  color: var(--primary-color);
  font-size: 14px;
}

.btn-submit {
  float: right;
  margin-top: 50px;
}

.btn-submit:hover {
  border-width: 2px;
}