.user-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  min-height: 60vh;
  width: 500px;
  max-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

form p {
  color: var(--primary-color);
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 10px;
}

form textarea {
  resize: none;
  width: 550px;
}

.input-field {
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.file-selected {
  display: inline-flex;
  align-items: center;
  width: 500px;
  height: 32px;
  box-sizing: border-box;
  border: 2px solid white;
  border-style: inset;
  border-radius: 4px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: auto;
}

.auth-error {
  align-self: flex-start;
  color: white;
}

.btn-primary {
  cursor: pointer;
  height: 44px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-color: white;
  background-color: #282c34;
  color: var(--primary-color);
  font-size: 14px;
}

.btn-submit {
  float: right;
  margin-top: 50px;
}

.btn-submit:hover {
  border-width: 2px;
}

.btn-secondary {
  display: inline-flex;
  cursor: pointer;
  height: 36px;
  border-radius: 4px;
  border-color: white;
  background-color: #282c34;
  color: var(--primary-color);
  font-size: 12px;
}

input[type='file'] {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-window {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.page-container {
  width: 80vw;
  margin-left: 300px;
}

table, th, td {
  border: 1px solid;
  border-color: var(--primary-color)
}

table {
  width: 100%;
  margin-top: 50px;
}

td, th {
  color: white;
}

.dropdown-menu {
  width: 300px;
  padding-top: 20px;
}

.update-field {
  height: 32px;
  box-sizing: border-box;
  width: 500px;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.transfer-dropdown {
  width: 500px;
}

.tracking-form {
  display: inline-flex;
  position: absolute;
  top: 10px;
  width: 600px;
  align-items: center;
}

.tracking-form p {
  width: 200px;
}

.card-list {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  flex-direction: column;
}

.data-card {
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  margin: 1rem .25em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 4px 8px 0 var(--primary-color);
  position: relative;
}

.data-card img[src] {
  display: block;
  position: absolute;
  top: 0px;
  right: 50px;
  width: 200px;
  height: 200px;
}

img {
  display: none;
}

.data-card img:hover {
  transform: scale(2);
  z-index: 9999;
  right: 100px;
}

.btn-submit-track {
  margin-left: 20px;
}

.btn-submit-track:hover {
  border-width: 2px;
}
